.App {
  background-image: url('/public/cubes.png');
  background-color: #22577e;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 12px;
  background-color: rgb(149, 209, 204, 0.241);
}
